{% extends 'base.html' %}

{% block title %}Resume{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-9">
        <h1>Welcome to Resume</h1>
        <p><b>This is a my experience in companies</b></p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Comp. Name</th>
                <th scope="col">Time</th>
                <th scope="col">Position</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>None</td>
                <td>None</td>
                <td>None</td>
            </tr>
            </tbody>
        </table>
        </div>
      <div class="col">
      </div>
    </div>
</div>

{% endblock %}
